services:
  app:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app:cached
    environment:
      - PHP_IDE_CONFIG=serverName=localhost
    extra_hosts:
      - "host.docker.internal:host-gateway"

  swagger-ui:
    image: swaggerapi/swagger-ui:latest
    ports:
      - "8080:8080"
    environment:
      - SWAGGER_JSON=/swagger.yaml
    volumes:
      - ./swagger.yaml:/swagger.yaml:ro
      - ./paths:/paths:ro
