services:
  app:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app:cached
      - /app/vendor
      - ./vendor:/app/vendor
    environment:
      - PHP_IDE_CONFIG=serverName=localhost
      - DATABASE_URL=mysql://app_user:app_pass@db:3306/app_db
    depends_on:
      - db
    extra_hosts:
      - "host.docker.internal:host-gateway"

  swagger-ui:
    image: swaggerapi/swagger-ui:latest
    ports:
      - "8080:8080"
    environment:
      - SWAGGER_JSON=/swagger.yaml
    volumes:
      - ./swagger.yaml:/swagger.yaml:ro
      - ./paths:/paths:ro

  db:
    image: mysql:8
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: app_db
      MYSQL_USER: app_user
      MYSQL_PASSWORD: app_pass
    volumes:
      - db_data:/var/lib/mysql

  adminer:
    image: adminer
    restart: always
    ports:
      - "5050:8080"
    depends_on:
      - db

volumes:
  db_data:
